<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <title>Document</title>
</head>
<body>
    <h1>Todos</h1>
    <% todos.forEach((todo) => { %>
        <li data-id=<%= todo._id %>>
            <span class=<%= todo.completed === true ? "completed" : "incomplete" %>><%= todo.todo %></span>
            <span class="del">delete</span>
        </li>
    <% }) %>
    
    <h2>Things left to do: <span><%= count %></span></h2>
    <form method="POST" action="/todos/createTodo">
        <input type="text" name="todo" placeholder="Enter Todo Item">
        <button>Submit</button>
    </form>
    <script src="/js/index.js"></script>
</body>
</html>