<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Todos</h1>
    <% todos.forEach((todo) => { %>
        <li>
            <span><%= todo.todo %></span>
            <span class="del">delete</span>
        </li>
    <% }) %>
    
    <h2>Things left to do: <span><%= count %></span></h2>
    <form method="POST" action="/todos/createTodo">
        <input type="text">
        <input type="text">
        <button>Submit</button>
    </form>

</body>
</html>